
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-color:  #0E0E0E;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 37px;
    i{
        display: none;
    }
    h2{
        color: white;
    }
    .icon{
        i{
            color: white;
            width: 23.33333396911621;
            height: 20;
            font-size: 25px;

        }
       
    }
    nav a{
        text-decoration: none;
        color: white;
        padding-left: 34px;
        font-family: Manrope;
font-weight: 700;
font-size: 13px;
line-height: 25px;
letter-spacing: 2px;
text-transform: uppercase;


    }
}

.line{
    border: 0.5px solid #ffffff;

}
 .main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .container .main .left{
/* width: 379px;
height: 346px;
top: 225px;
left: 165px;
opacity: 1; */
max-width: 90%;
padding-top: 130px;
display: flex;
/* flex-wrap: wrap; */
    flex-direction: column;
    gap: 25px;
    h3{
        font-family: Manrope;
font-weight: 400;
font-size: 14px;
color: #fafafa;
line-height: 100%;
letter-spacing: 10px;
text-transform: uppercase;

    }
    h1{
        font-family: Manrope;
font-weight: 700;
font-size: 56px;
color: white;
line-height: 58px;
letter-spacing: 2px;
text-transform: uppercase;

    }
    p{
        font-family: Manrope;
font-weight: 400;
font-size: 15px;
/* leading-trim: NONE; */
line-height: 25px;
max-width: 100%;
letter-spacing: 0px;
color: white;
width: 349px;

    }
    button{
       font-family: Manrope;
font-weight: 700;
font-size: 13px;
width: 160px;
height: 48px;
line-height: 100%;
background-color: #D87D4A;
color: white;
border: none;
letter-spacing: 1px;
text-transform: uppercase;

    }
}
.container .main .right {
    img{
        background-color:#0E0E0E ;
        width:800px;
        /* max-width: 100%; */
height: 700px;
left: 609.6px;
opacity: 1;
padding-top: 15px;

    }
}
.container header .zero{
    color: #ffffff;
    display: none;
}
@media screen and (max-width:767px) {
 .container .main .left{
    gap: 10px;
    /* justify-content: center; */
position: absolute;
top: 10%;
    order: 2;
    padding-left: 50px;
   h1{
    font-size: 30px;
   }
   p{
    font-family: Manrope;
font-weight: 400;
font-size: 15px;
/* leading-trim: NONE; */
line-height: 25px;
letter-spacing: 0px;
text-align: center;

   }
   h3{
    font-family: Manrope;
font-weight: 400;
font-size: 14px;
/* leading-trim: NONE; */
line-height: 100%;
letter-spacing: 10px;
text-align: center;
text-transform: uppercase;

   }
   

   
 }  
 nav{
    display: none;
 }  
 .container header .zero{
    display: block;
    font-size: 20px;
    padding-left: 8px;
 }
    .container header .icon{
        padding-right: 8px;
    } 
    .container header h2{
        font-size: 30px;
    }
    .container header .right{
        position: relative;
        img{
            width: 800px;
        }
    }
     .container .main .left button{
margin-left: 30px;
     }
     .container .main .right img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
     }
}
